
.a{
    background-color: aquamarine;
    color: rgb(14, 15, 15);
    width: 200px;
    height: 200px;
    padding-left:100px;
    margin-left: 40px ;
    border: 2px brown solid;
    display: inline-block;
}